html {

    font-size: 100%;
}

body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

.navbar {
    height: 100%;
    width: 25%;
    background-color: gray;
    padding: 2rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
